<% require('reflect-metadata'); %>
<!DOCTYPE html>
<%
const { di } = require('../../di');
const { TYPES } = require('../../types');
const { safeQuotes, resolveFile } = require('../_common/scripts/template');

/** @type {IApplication} */
const app = di.get(TYPES.Application);

const { config } = app;

const repositories = config.services.github.data.repositories;
const repositoriesMore = config.templates.default.configuration.githubRepositoriesMore;
const canShowMoreRepositories = repositoriesMore && repositoriesMore < repositories.length;

function generateRepositoriesHtml(repositories) {
  var output = '';

  for (var i = 0; i < repositories.length; i++) {
    output +=
      `<a href="${repositories[i].html_url}" class="repository" target="_blank">
        <div class="repository__name">${repositories[i].full_name}</div>
        <div class="repository__description">
          <p>${repositories[i].description || '-'}</p>
        </div>
        <div class="repository__footer">
          <div class="repository__footer__language">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="code"><polyline fill="none" stroke="#000" stroke-width="1.01" points="13,4 19,10 13,16"></polyline><polyline fill="none" stroke="#000" stroke-width="1.01" points="7,4 1,10 7,16"></polyline></svg>
            <span>${repositories[i].language || '-'}</span>
          </div>
          <div class="repository__footer__star">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="star"><polygon fill="none" stroke="#000" stroke-width="1.01" points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg>
            <span>${repositories[i].stargazers_count}</span>
          </div>
          <div class="repository__footer__forks">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="git-fork"><circle fill="none" stroke="#000" stroke-width="1.2" cx="5.79" cy="2.79" r="1.79"></circle><circle fill="none" stroke="#000" stroke-width="1.2" cx="14.19" cy="2.79" r="1.79"></circle><circle fill="none" stroke="#000" stroke-width="1.2" cx="10.03" cy="16.79" r="1.79"></circle><path fill="none" stroke="#000" stroke-width="2" d="M5.79,4.57 L5.79,6.56 C5.79,9.19 10.03,10.22 10.03,13.31 C10.03,14.86 10.04,14.55 10.04,14.55 C10.04,14.37 10.04,14.86 10.04,13.31 C10.04,10.22 14.2,9.19 14.2,6.56 L14.2,4.57"></path></svg>
            <span>${repositories[i].forks_count}</span>
          </div>
        </div>
      </a>`;
  }

  return output;
}
%>

<html <%= require('../_common/templates/html-attributes.ejs')({ templateName: 'default' }) %>>
<head>
  <%= require('../_common/templates/header/full.ejs')() %>
  <style>
    .avatar--image {
      background: url(<%= resolveFile(config.data.avatar) %>);
    }
    .background--image {
      background: url(<%= resolveFile(config.templates.default.configuration.background) %>);
    }
  </style>
</head>
<body>
<header class="header">
  <div class="header__background background--image"></div>
  <div class="header__wrap">
    <div class="header__wrap__image avatar--image"></div>
    <h1 class="header__wrap__name"><%= `${config.data.first_name} ${config.data.last_name}` %></h1>
    <% if (config.data.position) { %>
      <span class="header__wrap__position"><%= config.data.position %></span>
    <% } %>
    <% if (config.data.links.length > 0) { %>
      <div class="header__wrap__social">
        <% for (const link of config.data.links) { %>
          <a href="<%= link.url %>" title="<%= safeQuotes(link.name) %>" rel="nofollow">
            <%= require(`!!svg-inline-loader!../_common/assets/icons/${link.name}.svg`) %>
          </a>
        <% } %>
      </div>
    <% } %>
  </div>
</header>
<main>
  <% if (repositories.length > 0) { %>
    <section class="repositories-section section">
      <div class="container">
        <h2 class="section-title">
          <span>
            <span class="icon">
              <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="grid"><rect x="2" y="2" width="3" height="3"></rect><rect x="8" y="2" width="3" height="3"></rect><rect x="14" y="2" width="3" height="3"></rect><rect x="2" y="8" width="3" height="3"></rect><rect x="8" y="8" width="3" height="3"></rect><rect x="14" y="8" width="3" height="3"></rect><rect x="2" y="14" width="3" height="3"></rect><rect x="8" y="14" width="3" height="3"></rect><rect x="14" y="14" width="3" height="3"></rect></svg>
            </span>
            <span>Repositories</span>
          </span>
        </h2>
        <div class="repositories">
          <%= generateRepositoriesHtml(canShowMoreRepositories ? repositories.slice(0, repositoriesMore) : repositories) %>
        </div>
        <% if (canShowMoreRepositories) { %>
          <div class="text--center mt-50">
            <div id="github-more" class="btn-more">Show more</div>
          </div>
        <% } %>
      </div>
    </section>
  <% } %>
</main>
<footer>
  <hr class="divider-icon">
  <span><%= new Date().toLocaleDateString(undefined, {
    year: 'numeric',
    day: '2-digit',
    month: '2-digit'
  }) %></span>
</footer>

<% if (canShowMoreRepositories) {%>
<script type="text/javascript">
var repositories = <%= JSON.stringify(repositories.splice(repositoriesMore)) %>;

window.addEventListener('DOMContentLoaded', function () {
  var githubRepositories = document.querySelector('.repositories');

  document.querySelector('#github-more').addEventListener('click', function () {
    var html = generateRepositoriesHtml(repositories.splice(0, <%= repositoriesMore %>));
    var nodes = htmlToElements(html);

    if (nodes.length !== <%= repositoriesMore %>) {
      document.querySelector('#github-more').parentNode.remove();
    }

    githubRepositories.append(...nodes);
  });
});

function htmlToElements(html) {
  var template = document.createElement('template');
  template.innerHTML = html;
  return template.content.childNodes;
}

<%= generateRepositoriesHtml.toString() %>
</script>
<% } %>
</body>
</html>
