<%
/*
 * Properties:
 *  - Require: config, github, url
 */
%>

<meta charset="utf-8">
<title><%= config.data.name %></title>
<!-- START: Open Graph -->
<meta property="og:title" content="Portfolio by <%= config.data.name %>" />
<meta property="og:type" content="profile" />
<meta property="og:image" content="<%= config.data.avatar_url %>" />
<meta property="og:url" content="<%= url %>" />
<meta property="og:description" content="<%= github.profile.bio %>" />
<meta property="profile:username" content="<%= github.profile.login %>" />
<% for (let [property, content] of Object.entries(config.global.opg)) { %>
    <meta property="<%= property %>" content="<%= content %>" />
<% } %>
<!-- END: Open Graph -->
